<div id="contents">
  <div class="box">
    <div>
      <div class="body">
        <h1>About</h1>
        <h2>Your Friend in Travel</h2>
        <p>
          At Travlr Getaways, our goal is to deliver a world-class travel experience to our friends and clients. Stay tuned to this page for the latest and greatest global destinations!
        </p>
        <p>
          Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Eu consequat ac felis donec. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare.        </p>
        <hr>
        <div class="ads">
          <h2>Our Crews</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a arcu ipsum.
          </p>
          <h2>Amenities</h2>
          <p>
            Phasellus porta ultrices lorem vel luctus.Cras sodales nulla vitae eros fermentum consequat. Aenean at purus odio.
          </p>
        </div>
        <h2>Be Part of Our Community</h2>
        <p>
          Sit amet mauris commodo quis imperdiet. Urna condimentum mattis pellentesque id nibh tortor id aliquet. Euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis.        </p>
        <h2>Contact Us</h2>
        <p>
          Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. In dictum non consectetur a erat nam at lectus. Maecenas ultricies mi eget mauris pharetra. Et netus et malesuada fames. Ac turpis egestas maecenas pharetra convallis posuere morbi leo.        </p>
      </div>
    </div>
  </div>
</div>